@model IEnumerable<p3p1_bolsa_trabajo_new.Models.categoriaOfertaEmpleo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_categoria_ofertas }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_categoria_ofertas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_categoria_ofertas })
        </td>
    </tr>
}

</table>
