@model p3p1_bolsa_trabajo_new.Models.Oferta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2 class="alert alert-info">Editar Oferta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-bordered table-hover table-responsive">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <tr>
            <th>@Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.fecha_posteo, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.fecha_posteo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_posteo, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.activo)
                @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.id_categoria_ofertas, "id_categoria_ofertas", htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.DropDownList("id_categoria_ofertas", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_categoria_ofertas, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ubicacion, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.posicion, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.posicion, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.nombre_empresa, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <td>
                @Html.EditorFor(model => model.nombre_empresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_empresa, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th></th>
            <td>
                @Html.ActionLink("Volver a la Lista", "IndexAdmin") |
                <input type="submit" value="Create" class="btn btn-success" />
            </td>
        </tr>

    </table>



}
