@model p3p1_bolsa_trabajo.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize", "Login_", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">LOGIN</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.email)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.password_usuario)</td>
                    <td>@Html.EditorFor(model => model.password_usuario)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.password_usuario)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Logear" />
                        <li>@Html.ActionLink("Inicio", "Index", "Ofertas_Categorias_")</li>
                    </td>
                </tr>


            </table>

        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
