@model p3p1_bolsa_trabajo_new.Models.Oferta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2 class="alert alert-danger">Esta Seguro que desea eliminar este registro?</h2>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.posicion)</th>
        <td>@Html.DisplayFor(model => model.posicion)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ubicacion)</th>
        <td>@Html.DisplayFor(model => model.ubicacion)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.categoriaOfertaEmpleo.titulo)</th>
        <td>@Html.DisplayFor(model => model.categoriaOfertaEmpleo.titulo)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.nombre_empresa)</th>
        <td>@Html.DisplayFor(model => model.nombre_empresa)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.descripcion)</th>
        <td>@Html.DisplayFor(model => model.descripcion)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.fecha_posteo)</th>
        <td>@Html.DisplayFor(model => model.fecha_posteo)</td>
    </tr>
</table>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Volver a la Lista", "IndexAdmin") |
    <input type="submit" value="Eliminar" class="btn btn-danger" />
</div>
}
